<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Estudiantes Laboratoria</title>
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700,900" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../assets/icon/favicon.png"/>
  </head>
  <body>

    <header class="menu">
      <img src="../assets/images/logo-laboratoria-blanco.svg" alt="Laboratoria logo">
      <p class="dropdown" onclick="myFunction()" id="sede">SEDE ▾
      </p>
      <div id="myDropdown" class="dropdown-content">
          <ul>
            <li>AREQUIPA</li>
              <ul>
                <li class="generation" onclick="AQP2016II()">2016-II</li>
                <li class="generation" onclick="AQP2017I()">2017-I</li>
              </ul>
            <li class="city">CIUDAD DE MÉXICO</li>
              <ul>
                <li class="generation" onclick="CDMX2017I()">2017-I</li>
                <li class="generation" onclick="CDMX2017II()">2017-II</li>
              </ul>
            <li class="city">LIMA</li>
              <ul>
                <li class="generation" onclick="LIM2016II()">2016-II</li>
                <li class="generation" onclick="LIM2017I()">2017-I</li>
                <li class="generation" onclick="LIM2017II()">2017-II</li>
              </ul>
            <li class="city">SANTIAGO DE CHILE</li>
              <ul>
                <li class="generation" onclick="SCL2016II()">2016-II</li>
                <li class="generation" onclick="SCL2017I()">2017-I</li>
                <li class="generation" onclick="SCL2017II()">2017-II</li>
              </ul>
          </ul>
      </div>

      <ul class="global-menu">
        <li><a href="../views/overview.html">OVERVIEW</a></li>
        <li><a href="../views/students.html">STUDENTS</a></li>
        <li><a href="../views/teachers.html">TEACHERS</a></li>
      </ul>

      <div class="tm-cropper">
        <img src="../assets/images/tm.png" alt="Foto training manager">
      </div>

      <div class="notifications">
        <img src="../assets/icon/notification.png" alt="Ícono de notificaciones">
      </div>

    </header>

    <div class="teachers-container">

      <section class="teacher-info">
        <div class="image-cropper">
          <img src="../assets/images/teacher.jpeg" alt="Foto teacher">
        </div>
        <p class="teacher-name">KARLA NAVA</p>
        <div class="tech-skills">
          <p class="number">83%</p>
          <p class="info">TEACHER</p>
          <p>PUNTUACIÓN PROMEDIO</p>
        </div>
        <div class="life-skills">
          <p class="number">63%</p>
          <p class="info">JEDI</p>
          <p>PUNTUACIÓN PROMEDIO</p>
        </div>
        <div class="student-graph">
          <img src="../assets/images/student-graphs.png" alt="Estadísticas">
        </div>
      </section>
      <section class="teacher-info">
        <div class="image-cropper">
          <img src="../assets/images/teacher.jpeg" alt="Foto teacher">
        </div>
        <p class="teacher-name">KARLA NAVA</p>
        <div class="tech-skills">
          <p class="number">83%</p>
          <p class="info">TEACHER</p>
          <p>PUNTUACIÓN PROMEDIO</p>
        </div>
        <div class="life-skills">
          <p class="number">63%</p>
          <p class="info">JEDI</p>
          <p>PUNTUACIÓN PROMEDIO</p>
        </div>
        <div class="student-graph">
          <img src="../assets/images/student-graphs.png" alt="Estadísticas">
        </div>
      </section>
      <section class="teacher-info">
        <div class="image-cropper">
          <img src="../assets/images/teacher.jpeg" alt="Foto teacher">
        </div>
        <p class="teacher-name">KARLA NAVA</p>
        <div class="tech-skills">
          <p class="number">83%</p>
          <p class="info">TEACHER</p>
          <p>PUNTUACIÓN PROMEDIO</p>
        </div>
        <div class="life-skills">
          <p class="number">63%</p>
          <p class="info">JEDI</p>
          <p>PUNTUACIÓN PROMEDIO</p>
        </div>
        <div class="student-graph">
          <img src="../assets/images/student-graphs.png" alt="Estadísticas">
        </div>
      </section>
      <section class="teacher-info">
        <div class="image-cropper">
          <img src="../assets/images/teacher.jpeg" alt="Foto teacher">
        </div>
        <p class="teacher-name">KARLA NAVA</p>
        <div class="tech-skills">
          <p class="number">83%</p>
          <p class="info">TEACHER</p>
          <p>PUNTUACIÓN PROMEDIO</p>
        </div>
        <div class="life-skills">
          <p class="number">63%</p>
          <p class="info">JEDI</p>
          <p>PUNTUACIÓN PROMEDIO</p>
        </div>
        <div class="student-graph">
          <img src="../assets/images/student-graphs.png" alt="Estadísticas">
        </div>
      </section>
      <section class="teacher-info">
        <div class="image-cropper">
          <img src="../assets/images/teacher.jpeg" alt="Foto teacher">
        </div>
        <p class="teacher-name">KARLA NAVA</p>
        <div class="tech-skills">
          <p class="number">83%</p>
          <p class="info">TEACHER</p>
          <p>PUNTUACIÓN PROMEDIO</p>
        </div>
        <div class="life-skills">
          <p class="number">63%</p>
          <p class="info">JEDI</p>
          <p>PUNTUACIÓN PROMEDIO</p>
        </div>
        <div class="student-graph">
          <img src="../assets/images/student-graphs.png" alt="Estadísticas">
        </div>
      </section>


    </div>



  <script type="text/javascript" src="../js/app.js"></script>

  </body>
</html>
